body {
	text-align: center;
	background-image: url("../images/background.jpg");
	color: black;
	line-height: 1.5;
	background-repeat: no-repeat;
	background-size: 100% 1500px;
	background-position: center;
	font-family: 'Special Elite', cursive;
	font-size: 30px;
}

.bgColor {
	background-color: #FB6417;
	opacity: 0.9;
	margin-top: 50px;
	height: 100%;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

h1 {
	padding: 50px;
	font-size: 50px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* Timer countdown */

#time {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Question area */

#question {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 35px;
}

#buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* buttons/answers */

#buttons img {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 350px;
	height: 250px;
}
button {
	background-color: #FB6417;
	opacity: 0.9;
	padding: 10px;
	font-size: 30px;
	border: none;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin: 10px;
}

button:hover {
	background-color: blue;
	color: white;
}

#reset {
	border: 3px solid green;
}

/* Social Icons */

.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

footer {
	text-align: center;
	padding: 30px;
	color: white;
}