body {
	text-align: center;
	background-image: url("../images/background.jpg");
	color: black;
	background-repeat: no-repeat;
	background-size: 100% 1500px;
	background-position: center;
	font-family: 'Special Elite', cursive;
}

.bgColor {
	background-color: #d9df41;
	opacity: 0.9;
	margin-top: 50px;
	height: 700px;
}

h1 {
	padding: 50px;
	font-size: 50px;
}

/* Timer countdown */



/* Question area */



/* buttons/answers */





/* Social Icons */

.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

footer {
	text-align: center;
	padding: 30px;
	color: white;
}